<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>En_Wo</title>

<script>
     function insert_ae() {
  document.getElementById("myinputfield").value += "æ";
}
</script>
</head>
<body>

    <form action="" method="post">

    <p>
        {{ form.word.label }}<br>
        {{ quest }}
    <p>
         {{ form.word(class="form-control", id="myinputfield", value="") }}
                 <button onclick="insert_ae()">æ</button>
    </p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
    <div>{{ message }}</div>
    </form>
</body>
</html>