<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>En_Wo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script>
     function insert_ae() {
  document.getElementById("myinputfield").value += "æ";
}
</script>
</head>
<body>
<div class="container">

    <div class="container"><form action="" method="post">

    <p>
        {{ form.word.label }}<br>
        {{ quest }}
    <p>
         {{ form.word(class="form-control", id="myinputfield", value="") }}
    </p>             <button onclick="insert_ae()">æ</button>

    <p>
        {{ form.submit(type="submit", class="btn btn-outline-success") }}
    </p>
    <div>{{ message }}</div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        </div>
</div>
</body>
</html>